<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <h1><%= @place.name %></h1>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= @place.description %></h5>
      <p class="card-text">
        <strong>Адрес:</strong> <%= @place.location.address %> <br>
        <strong>Ближайшее метро:</strong> <%= @place.location.subway.name %><br>
        <strong>Город:</strong> <%= @place.location.city.name %><br>
        <hr>
        <% if @place.feature.beer %>
          <input type="checkbox" checked disabled>Пиво
        <% else %>
          <input type="checkbox"  disabled>Пиво
        <% end %>
        <% if @place.feature.smoke_allowed %>
          <input type="checkbox" checked disabled>Курение разрешено
        <% else %>
          <input type="checkbox"  disabled>Курение разрешено
        <% end %>
        <% if @place.feature.cocktails %>
          <input type="checkbox" checked disabled>Коктейли
        <% else %>
          <input type="checkbox"  disabled>Коктейли
        <% end %>
        <% if @place.feature.hookah %>
          <input type="checkbox" checked disabled>Кальян
        <% else %>
          <input type="checkbox"  disabled>Кальян
        <% end %>
        <% if @place.feature.strong_alco %>
          <input type="checkbox" checked disabled>Крепкий алкоголь
        <% else %>
          <input type="checkbox"  disabled>Крепкий алкоголь
        <% end %>
      </p>
      <a href="<%= admin_edit_url %>" class="btn btn-primary">Редактировать данные</a>
      <a href="<%= admin_bookings_url %>" class="btn btn-primary">Бронирования</a>
    </div>
    <div class="card-footer text-muted">
      Рейтинг: <%= @place.rating.points %>
    </div>
  </div>
  <hr>
  <form action="<%= request.original_url %>">
    <label for="days">Количество дней</label>
    <input type="number" name="days" value="<%= params[:days] %>">
    <input type="submit" value="Показать статистику">
  </form>
  <% if params[:days] %>
    <% @days = params[:days].to_i %>
  <% else %>
    <% @days = 7 %>
  <% end %>
  <h1>Статистика бронирований за последние <%= @days %> дней:</h1>
  <%= line_chart Order.where(:place_id => @place.id).where("visit_date_time >= :date", :date => @days.to_i.days.ago.to_date).where("visit_date_time <= :date", :date => Date.today).group_by_day(:visit_date_time).count, xtitle: "День", ytitle: "Количество бронирований", messages: {empty: "Бронирований не было"}, download: "#{@place.name}_#{@days.to_i.days.ago.to_date}-#{Date.today}_reservations" %>
  <hr>
  <h1>
    Акции
    <small class="text-muted"><%= link_to "Новая акция", new_offer_path %></small>
  </h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Название</th>
        <th scope="col">Доступность</th>
        <th scope="col">Описание</th>
      </tr>
    </thead>
    <% @offers.each_with_index do |offer, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= offer.name %> <%= link_to "Редактировать", edit_offer_path(offer.id) %></td>
        <td>
          <% if offer.is_active %>
            Акция активна
          <% else %>
            Акция не активна
          <% end %>
        </td>
        <td><%= offer.content %></td>
      </tr>
    <% end %>
  </table>
  <hr>
  <h1>Отзывы:</h1>
    <% @reviews.each do |review| %>
      <div class="card mb-4">
        <div class="card-header"><strong>Рейтинг:</strong> <%= review.points %></div>
        <div class="card-body">
          <p class="card-text"><strong>Текст отзыва:</strong> <%= review.comment %></p>
          <strong>Автор:</strong> <%= link_to review.user.email, review.user %>
        </div>
      </div>
    <% end %>
</div>