<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <h1><%= @place.name %></h1>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= @place.description %></h5>
      <p class="card-text">
        <%= @place.location.address %>, <%= @place.location.subway %>
        <hr>
        <% if @place.feature.beer %>
          <input type="checkbox" checked disabled>Пиво
        <% else %>
          <input type="checkbox"  disabled>Пиво
        <% end %>
        <% if @place.feature.smoke_allowed %>
          <input type="checkbox" checked disabled>Курение разрешено
        <% else %>
          <input type="checkbox"  disabled>Курение разрешено
        <% end %>
        <% if @place.feature.cocktails %>
          <input type="checkbox" checked disabled>Коктейли
        <% else %>
          <input type="checkbox"  disabled>Коктейли
        <% end %>
        <% if @place.feature.hookah %>
          <input type="checkbox" checked disabled>Кальян
        <% else %>
          <input type="checkbox"  disabled>Кальян
        <% end %>
      </p>
      <a href="<%= admin_edit_url %>" class="btn btn-primary">Редактировать данные</a>
      <a href="<%= admin_bookings_url %>" class="btn btn-primary">Бронирования</a>
    </div>
    <div class="card-footer text-muted">
      Рейтинг: <%= @place.rating.points %>
    </div>
  </div>
  <hr>
  <h1>
    Акции
    <small class="text-muted"><%= link_to "Новая акция", new_offer_path %></small>
  </h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Название</th>
        <th scope="col">Доступность</th>
        <th scope="col">Описание</th>
      </tr>
    </thead>
    <% @offers.each_with_index do |offer, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= offer.name %> <%= link_to "Редактировать", edit_offer_path(offer.id) %></td>
        <td>
          <% if offer.is_active %>
            Акция активна
          <% else %>
            Акция не активна
          <% end %>
        </td>
        <td><%= offer.content %></td>
      </tr>
    <% end %>
  </table>
  <hr>
  <h1>Отзывы</h1>
</div>