<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <%= link_to "Booking", root_path, :class => 'navbar-brand' %>
  <div class="collapse navbar-collapse" id="navbarCollapse">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <%= link_to "Заведения", root_path, :class => 'nav-link'  %>
      </li>
      
      <% if user_signed_in? && !current_user.admin? %>  
        <li class="nav-item">
          <%= link_to "Рекомендации", '/recomendations', :class => 'nav-link'  %>
        </li>
      <% end %>

      
      <li class="nav-item ml-5 w-100 justify-content-center">
        <%= form_tag("/search/list", method: "get", class: "form-inline mt-2 mt-md-0") do %>
          <%= text_field_tag(:q, nil, class: "form-control mr-sm-2", placeholder: 'Название заведения') %>
          <%= submit_tag("Искать!", class: "btn btn-success navbar-btn") %>
        <% end %>
      </li>
    </ul>

    <ul class="navbar-nav navbar-right">
      
      <% if user_signed_in? %>
      
        <li class="nav-item navbar-text text-success">
          <%= "Привет, " %> <%= current_user.email %>
        </li>
        
        <% if current_user.admin? %>  
          <li class="nav-item">
            <%= link_to "Заведение", admin_home_url, :class => 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Профиль", current_user, :class => 'nav-link' %>
          </li>
        <% end %>

        <li class="nav-item">
          <%= link_to "Выход", destroy_user_session_path, method: :delete, :class => 'nav-link' %>
        </li>

      <% else  %>

        <li class="nav-item">
          <%= link_to "Регистрация", new_user_registration_path, :class => 'nav-link' %>
        </li>

        <li class="nav-item">
          <%= link_to "Вход", new_user_session_path, :class => 'nav-link' %>
        </li>

      <% end %>

    </ul>

  </div>
</nav>