<%= form_with(model: orders, local: true) do |form| %>

  <div class="hidden">
    <form id="form">
      <div class="field">
        <%= form.label 'Дата и время заказа' %>
        <%= form.datetime_field :visit_date_time %>
      </div>
      <div class="field">
        <%= form.label 'Комментарий к заказу' %>
        <%= form.text_field :comment %>
      </div>
      <div class="field">
        <%= form.label 'Количество гостей' %>
        <%= form.number_field :guests_count %>
      </div>
      <button>Забронировать</button>
    </form>
  </div>
<% end %>