<%= form_with(model: orders, local: true) do |form| %>
  <div class="field">
    <%= form.label 'Дата и время посещения' %>
    <%= form.datetime_field :visit_date_time, min: Date.today, :required => true, :step => 900 %>
  </div>

  <div class="field">
    <%= form.label 'Комментарий к заказу' %>
    <%= form.text_field :comment, :required => true %>
  </div>

  <div class="field">
    <%= form.label 'Количество гостей' %>
    <%= form.number_field :guests_count, :required => true %>
  </div>

  <%= form.hidden_field :place_id, :value => params[:place_id].to_i %>

  <div class="actions">
    <%= form.submit "Забронировать" %>
  </div>
<% end %>