<div class="container">
  <h1>Recomendation#show</h1>
  <p>Find me in app/views/recomendation/show.html.erb</p>
  <% if !@user_recomendation %>
    <p>У вас еще не было бронирований. Чтобы получать рекомендации, резервируйте столики.</p>
  <% else %>
    Любимое заведение: 
    <%= link_to @fav_place.name, @fav_place %>
    <hr>
    Рекомендованная кухня: <%= @user_recomendation.cuisine.name %> <br>
    <% @fav_cuisine_places.each do |place| %>
      <%= link_to place.name, place %>
    <% end %>
    <hr>
    Рекомендованный вид заведения: <%= @user_recomendation.kind.name %> <br>
    <% @fav_kind_places.each do |place| %>
      <%= link_to place.name, place %>
    <% end %>
    <hr>
  <% end %>
</div>