<div class="container">
  <% if !@user_recomendation %>
    <h1>У вас еще не было бронирований. Чтобы получать рекомендации, резервируйте столики.</h1>
  <% else %>
    <h1>Рекомендуем Вам:</h1>
    <div class="row">
      <h3>Заведение:</h3>
        <%= render @fav_place %>
    </div>
    <hr>
    <div class="row">
      <h3>Кухня:<small class="text-muted"><%= @user_recomendation.cuisine.name %></small></h3><br>
        <%= render @fav_cuisine_places %>
    </div>
    <hr>
    <div class="row">
      <h3>Вид заведения:<small class="text-muted"><%= @user_recomendation.kind.name %></small></h3><br>
      <%= render @fav_kind_places %>
    </div>
    <hr>
  <% end %>
</div>