<%= form_with(model: place, local: true) do |form| %>
  <% if place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :Кухня %>
    <%= form.collection_select :cuisine_id, Cuisine.all, :id, :name %>
  </div>

  <%= form.fields_for :kind do |kind| %>
    <div class="field">
      <%= form.label :Вид_заведения %>
      <%= form.collection_select :kind_id, Kind.all, :id, :name %>
    </div>
  <% end %>
  
  <%= form.fields_for :rating do |rating| %>
    <div class="field">
      <%= form.label :Звезды_Мишлен %>
      <%= rating.select(:stars, options_for_select([0, 1, 2, 3, 4, 5])) %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :place_name %>
  </div>

  <div class="field">
    <%= form.label :min_age %>
    <%= form.number_field :min_age, id: :place_min_age %>
  </div>

  <div class="field">
    <%= form.label :open_hours %>
    <%= form.text_field :open_hours, id: :place_open_hours %>
  </div>

  <div class="field">
    <%= form.label :avg_bill %>
    <%= form.number_field :avg_bill, id: :place_avg_bill %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :place_description %>
  </div>

  <%= form.fields_for :location do |location| %>
    <div class="field">
      <%= form.label :address %>
      <%= location.text_field :address %>
    </div>
    <div class="field">
      <%= form.label :subway %>
      <%= location.text_field :subway %>
    </div>
    <%= location.fields_for :city do |city| %>
      <div class="field">
        <%= form.label :city %>
        <%= city.text_field :name %>
      </div>
    <% end %>
  <% end %> 
  
  <%= form.fields_for :feature do |feature| %>
    <div class="field">
      <%= form.label 'Пиво' %>
      <%= feature.check_box :beer %>
    </div>
    <div class="field">
      <%= form.label 'Курение разрешено' %>
      <%= feature.check_box :smoke_allowed %>
    </div>
    <div class="field">
      <%= form.label 'Коктейли' %>
      <%= feature.check_box :cocktails %>
    </div>
    <div class="field">
      <%= form.label 'Кальян' %>
      <%= feature.check_box :hookah %>
    </div>
    <div class="field">
      <%= form.label 'Крепкий алкоголь' %>
      <%= feature.check_box :strong_alco %>
    </div>
  <% end %> 

  <div class="actions">
    <%= form.submit "Готово" %>
  </div>
<% end %>
