<p id="notice"><%= notice %></p>

<h1>Places</h1>

<table>
  <thead>
    <tr>
      <th>Kind</th>
      <th>Name</th>
      <th>Min age</th>
      <th>Open hours</th>
      <th>Avg bill</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.kind %></td>
        <td><%= place.name %></td>
        <td><%= place.min_age %></td>
        <td><%= place.open_hours %></td>
        <td><%= place.avg_bill %></td>
        <td><%= place.description %></td>
        <td><%= link_to 'Show', place %></td>
        <td><%= link_to 'Edit', edit_place_path(place) %></td>
        <td><%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Place', new_place_path %>
