<p>
  <strong>Основная кухня:</strong>
  <%= @place.cuisine.name %>
</p>

<p>
  <strong>Вид заведения:</strong>
  <%= @place.kind.name %>
</p>

<p>
  <strong>Название:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Возрастные ограничения:</strong>
  <%= @place.min_age %>
</p>

<p>
  <strong>Часы работы:</strong>
  <%= @place.open_hours %>
</p>

<p>
  <strong>Средний чек:</strong>
  <%= @place.avg_bill %>
</p>

<p>
  <strong>Описание:</strong>
  <%= @place.description %>
</p>

<% if signed_in? && current_user.admin == false %>
  <%= link_to 'Забронировать', new_order_path(:place_id => @place.id), class: "btn btn-warning" %>
<% end %>

<% if signed_in? && current_user.admin == true && @place.id == Administrator.find_by(user_id: current_user.id).place_id %>
  <%= link_to 'Редактировать', edit_place_path(@place), class:"btn btn-warning" %>
<% end %>
