<p id="notice"><%= notice %></p>

<p>
  <strong>Kind:</strong>
  <%= @place.kind %>
</p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Min age:</strong>
  <%= @place.min_age %>
</p>

<p>
  <strong>Open hours:</strong>
  <%= @place.open_hours %>
</p>

<p>
  <strong>Avg bill:</strong>
  <%= @place.avg_bill %>
</p>

<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>

<a href="#form" class="popup">Забронировать</a>

<div class="hidden">
  <form id="form">
    <input type="text" name="name">
    <input type="number" name="guests" default="1">
    <input type="tel" name="phone">
    <input type="datetime-local" name="time">
    <button>Забронировать</button>
  </form>
</div>

<%= link_to 'Edit', edit_place_path(@place), class:"btn btn-warning" %>
<%= link_to 'Back', places_path, class:"btn btn-primary" %>
